// utils

@import './utils/fonds';
@import './utils/utils';
@import './utils/variables';

// global

@import './base';

// layouts

@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/contact-section';
@import './layouts/container';
@import './layouts/footer';
@import './layouts/form-terms';
@import './layouts/format-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/modal-window';
@import './layouts/section';
@import './layouts/traditions-section';
@import './layouts/backdrop';
@import './layouts/mobile-meny';

// components

@import './components/buttons';
@import './components/carousel';
@import './components/chef-card';
@import './components/format-card';
@import './components/links';
@import './utils/texts';
@import './components/_imput';
@import './components/pagination';
