@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-300.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-900.ttf') format('truetype');
}

:root {
  --color-brand: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a18268;
  --color-primary-dark: #31261a;
  --color-copyright: #a18268;
  --color-border: #cfcfbc;
}

/* global */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-primary-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

h2 {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* section */
.section {
  padding: 48px 0;
}

address {
  font-style: normal;
}

/* button */
.button {
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  color: var(--color-primary-light);
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5;
}

.button:hover {
  color: #465929;
  background-color: transparent;
}

/* link */
.meny-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: 400;
}

.meny-link:hover {
  color: var(--color-brand);
  text-decoration: none;
}

/* header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-meny {
  display: flex;
  align-items: center;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

header {
  background-color: gray;
  /* видалити */
}

/* hero */
.hero-section {
  padding: 272px 0;
  /*  падинг по уроку и макету 272px но на странице отображаясь уменьшил до 215px*/
  margin-bottom: 0;
  background-image: url('../img/hero-background.jpg');
  /* linear-gradient(
      103deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ); */
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin: 0 auto;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand);
}

/* advantages */
.advantages-section {
  background-color: var(--color-brand);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.advantages-item {
  font-style: 20px;
  color: var(--color-primary-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.section-title.centered {
  text-align: center;
}

/* traditions-section  */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited-first {
  max-width: 600px;
}

.traditions-text.limited {
  max-width: 310px;
}

/* chefs section */
.chefs-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chefs-text p {
  margin-bottom: 24px;
}

.chefs-text p:last-child {
  margin-bottom: 0;
}

.chefs-section-title {
  margin: 0 auto 80px;
  max-width: 520px;
}

.chefs-section-title::after,
.chefs-section-title::before {
  display: block;
  width: 352px;
  border: 2px solid var(--color-border);
  content: '';
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs-card {
  display: flex;
  gap: 30px;
}

.shefs-item {
  flex-basis: calc((100% - 30px) /2);
}

.chefs-photo {
  border-radius: 4px 4px 4px 200px;
  background: #d9d9d9;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

/* format section */
.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-items {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  height: 444px;
  border-radius: 16px;
  background-image: linear-gradient(180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.formats-title {
  margin-bottom: 80px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;


}

/* carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  flex-shrink: 0;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* contact  */
.contact-section {
  padding-bottom: 96px;
}

.contact-title {
  margin-bottom: 16px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

/* footer */
.footer {
  padding: 32px 0;
  background-image: url('../img/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-primary-dark);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-grow: 1;
  gap: 20px;
}

.footer-logo,
.footer-meny {
  flex-grow: 1;
  gap: 20px;
}

.address-list,
.address-info {
  flex-grow: 1;
  gap: 20px;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-link:hover {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-brand);
}

.address-copyright {
  font-size: 14px;
  color: var(--color-copyright);
}

.address-icon {
  fill: var(--color-primary-light);
  height: 32px;
  width: 32px;
}

.address-icon:hover {
  fill: var(--color-brand);

}