.advantages-section {
  background-color: var(--color-brand);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.advantages-item {
  font-style: 20px;
  color: var(--color-primary-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.section-title.centered {
  text-align: center;
}
