/* button  make call*/
.button {
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  color: var(--color-primary-light);
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5;
  transition: color 0.3s, background-color 0.3s;
}

.button:hover {
  color: #465929;
  background-color: transparent;
}
