.hero-section {
  padding: 272px 0;
  /*  падинг по уроку и макету 272px но на странице отображаясь уменьшил до 215px*/
  margin-bottom: 0;
  background-image: linear-gradient(
      103deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../img/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin: 0 auto;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand);
}
