.footer {
  position: relative;
  padding: 32px 0;
  background-image: url('../img/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-primary-dark);

  &:before,
  &:after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
  }

  &:before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../img/decor-bread-small.png');
  }

  &:after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('../img/decor-bread-large.png');
  }

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      text-align: left;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
    }
  }

  &__logo,
  &__meny {
    flex-grow: 1;
    gap: 20px;
  }

  &__address {
    font-style: normal;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
    gap: 20px;
  }

  &__address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    text-decoration: none;
    transition: color 0.3s;
  }

  &__address-link:hover {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-brand);
  }

  &__address-copyright {
    font-size: 14px;
    color: var(--color-copyright);
  }

  &__address-icon {
    fill: var(--color-primary-light);
    height: 32px;
    width: 32px;
  }

  &__address-icon:hover {
    fill: var(--color-brand);
  }
}
