.form-input .form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
